.jumbotron {
  padding-top: 7rem;
  background-color: #b295de;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar {
  font-family: Arial, Helvetica, sans-serif;
}
#gallery {
  background-color: #b295de;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
#contact {
  font-family: Arial, Helvetica, sans-serif;
}
footer {
  background-color: blueviolet;
  color: white;
  font-weight: bold;
  text-align: center;
  padding-bottom: 5rem;
}
section {
  padding-top: 5rem;
}

#about {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
